* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li {
    margin: 5px 0;
}

@font-face {
    font-family: Graphik RBC LC;
    src: local(''),
    url('./fonts/GraphikLC-Semibold.ttf') format('ttf'),
    url('./fonts/GraphikLC-Semibold.woff') format('woff'),
    url('./fonts/GraphikLC-Semibold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: Graphik RBC LC;
    src: local(''),
    url('./fonts/GraphikLC-Regular.ttf') format('ttf'),
    url('./fonts/GraphikLC-Regular.woff') format('woff'),
    url('./fonts/GraphikLC-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: Graphik RBC LC;
    src: local(''),
    url('./fonts/GraphikLC-RegularItalic.ttf') format('ttf'),
    url('./fonts/GraphikLC-RegularItalic.woff') format('woff'),
    url('./fonts/GraphikLC-RegularItalic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: local(''),
    url('./fonts/Roboto-Bold.ttf') format('ttf'),
    url('./fonts/Roboto-Bold.woff') format('woff'),
    url('./fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Graphik RBC LC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #000;
}

.bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: #F00;
    z-index: -1;
    background: radial-gradient(44.79% 71.67% at 50% 50%, #FFFFFF 0%, #FFD3D3 100%);
}

.intro {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: radial-gradient(62.08% 117.44% at 50% 77.04%, #FFFFFF 19.79%, #DB62AC 63.02%, #2C479B 100%);;
}

.main-title {
    padding-top: 5%;
    text-align: center;
    font-family: Graphik RBC LC;
    font-weight: 600;
    font-size: 70px;
    line-height: 75px;
}

.logo-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(90% - 300px);
    max-height: 239px;
}

.header {
    padding: 46px;

    position: sticky;
    position: -webkit-sticky;
    z-index: 0;
    top: 0;
    text-align: center;
}

.title {
    margin-bottom: 0.81em;
    font-family: Graphik RBC LC;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 75px;
    text-align: center;
}

.task-block {
    margin: 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.task-block li:first-child {
    font-weight: 600;
}

.task-block-item {
    width: 100%;
    font-family: Graphik RBC LC;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
}

.task-block-item:not(:first-child) {
    margin-left: 50px;
}

.communication {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.communication-item {
    flex: 0 0 150px;
}

.communication-item-title {
    margin-bottom: 25px;
}

.subtitle {
    margin-bottom: 2.79em;
    max-width: 1128px;
    font-family: Graphik RBC LC;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000;
}

.logo-bottle {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(90% - 195px);
    max-height: 478px;
}

.task-block li {
    list-style: none;
}

.task-block li:first-child {
    font-weight: 600;
}

ul li {
    list-style: none;
}

.auditory-block {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.auditory-block-item li:before {
    content: "— ";
}

.video {
    width: 70%;
}

.logo_actimel {
    position: absolute;
    top: 60px;
    left: 80px;
    z-index: 35;
}

.sound {
    position: absolute;
    top: 60px;
    right: 60px;
    z-index: 35;
}

/*.sound-off {
    transition: 0.2s;
}*/

.sound.paused .sound-off {
    opacity: 0;
}

.phone {
    position: absolute;
    bottom: 85px;
    left: 75px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #002495;
    z-index: 35;
}

.phone span {
    font-weight: 700;
    color: #ff010b;
}

.logo_danone {
    position: absolute;
    bottom: 40px;
    right: 60px;
    z-index: 35;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}

.info.touched {
    display: none;
}

.info-left {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.info-right {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #2D489C;
}

.chose-flavor {
    width: 100%;
    padding-bottom: 90px;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 33px;
    color: #DC67AF;
}

.canvas-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 30;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: radial-gradient(62.08% 117.44% at 50% 77.04%, #FFFFFF 19.79%, #DB62AC 63.02%, #2C479B 100%);;
}

.left {
    text-align: left;
}

@media (max-height: 800px ) {
    .title {
        font-size: 48px;
    }

    .subtitle {
        font-size: 18px;
    }

    .task-block {
        width: 70%;
    }

    .task-block-item {
        font-size: 18px;
    }
}